<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.readingbooks.li.readingbooks">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name= "android.permission.INTERNET" />
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2.full" />
   <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MyBoundServiceActivity">
        </activity>
        <activity android:name=".SearchActivity">
        </activity>
        <activity android:name=".GpsGoogleActivity">
        </activity>
        <activity android:name=".GoogleLocationApiActivity">
        </activity>
        <activity android:name=".GPSTrackingActivity">
        </activity>
        <activity android:name=".TestActivity">
        </activity>
        <activity android:name=".SavingOrientationActivity">
        </activity>
        <activity android:name=".AboutActivity">
        </activity>
        <activity android:name=".HelpActivity">
        </activity>
        <activity android:name=".BRActivity">
        </activity>

        <activity android:name=".DialogActivity">
        </activity>
        <activity android:name=".ParcelableFirstActivity">
        </activity>
        <activity android:name=".ParcelableSecondActivity">
        </activity>
        <activity android:name=".ImplicitIntentActivity">
        </activity>
        <activity android:name=".ExplicitIntentActivity">
        </activity>
        <activity android:name=".ExplicitIntent2Activity">
        </activity>
        <activity android:name=".JSONActivity">
        </activity>
        <activity android:name=".ExternalActivity">
        </activity>
        <activity android:name=".InternalStorageActivity">
        </activity>
      <activity android:name=".TestActivity1">
      </activity>

        <activity android:name=".AsyncTaskActivity">
        </activity>
        <activity android:name=".BookActivity">
        </activity>
        <activity android:name=".HandlerProgressActivity">
        </activity>
        <activity android:name=".NotificationActivity">
        </activity>
        <activity android:name=".PermissionActivity">
        </activity>
        <activity android:name=".PreferencesActivity">
        </activity>
        <activity android:name=".SavingFragmentActivity">
        </activity>
        <activity android:name=".TestActivity3">
        </activity>

        <activity
            android:name=".CameraActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>

        <service
            android:name=".MyUnboundService"/>
        <service
            android:name=".MyBoundService"/>

   <receiver android:name=".MyReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>
</manifest>